body {
    transition: background-color 1000ms linear;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
}

input, #prelib-file-input, #data-file-input{
    display: inline-block;
    max-width: 500px;
    border: initial;
    transition: background-color 1000ms linear;
}

hr {
    background-color: black
}

#validate-btn {
    display: inline-block;
}

.button-wrapper {
    margin-top: 8px;
}

.prelib-wrapper {
    margin-top: 5px;
}

.verification-results {
    margin: 15px;
}

.verification-results .loading {
    padding-left: 20px;
    margin: 5px;
    color: blue;
    background: url(img/icon_load_trans.gif) no-repeat left;
}

.verification-results .verified {
    padding-left: 20px;
    margin: 5px;
    color: black;
    background: url(img/icon_v.png) no-repeat left;
}

.verification-results .failed {
    padding-left: 20px;
    margin: 5px;
    color: black;
    background: url(img/icon_x.png) no-repeat left;
}

.verified input,
.final-result-color.verified {
    background-color: lightgreen;
}

.failed input,
.final-result-color.failed {
    background-color: lightcoral;
}

.data-verifier-wrapper {
    margin-left: 20px;
    margin-top: 10px;
}